  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {{/*  Title  */}}
  {{ $title := .Title }}
  {{ if .IsHome }}
    {{ $title = "Forge & Flight Holdings | American Defense Technology" }}
  {{ else if .Params.seo_title }}
    {{ $title = .Params.seo_title }}
  {{ else if strings.Contains .Title "Forge" }}
    {{ $title = .Title }}
  {{ else }}
    {{ $title = printf "%s | Forge & Flight Holdings" .Title }}
  {{ end }}
  <title>{{ $title }}</title>

  {{/*  Meta Description  */}}
  {{ $desc := .Site.Params.description }}
  {{ if .Params.description }}{{ $desc = .Params.description }}{{ end }}
  <meta name="description" content="{{ $desc }}">

  {{/*  Keywords  */}}
  {{ $kw := .Site.Params.keywords }}
  {{ if .Params.keywords }}{{ $kw = .Params.keywords }}{{ end }}
  <meta name="keywords" content="{{ $kw }}">

  {{/*  Canonical  */}}
  <link rel="canonical" href="{{ .Permalink }}">
  {{ $robots := .Params.robots | default "index, follow, max-image-preview:large" }}
  <meta name="robots" content="{{ $robots }}">
  <meta name="msvalidate.01" content="{{ .Site.Params.bing_verify }}">
  <meta name="author" content="{{ .Site.Params.author }}">

  {{/*  Open Graph  */}}
  <meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:title" content="{{ $title }}">
  <meta property="og:description" content="{{ $desc }}">
  <meta property="og:image" content="{{ .Site.Params.og_image }}">
  <meta property="og:site_name" content="Forge &amp; Flight Holdings, Inc.">
  <meta property="og:locale" content="en_US">

  {{/*  Twitter Card  */}}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ $title }}">
  <meta name="twitter:description" content="{{ $desc }}">
  <meta name="twitter:image" content="{{ .Site.Params.og_image }}">

  {{/*  Favicons  */}}
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon.png">

  {{/*  Fonts  */}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700;800&family=Figtree:wght@400;500;600;700&family=DM+Mono:wght@400;500&display=swap" rel="stylesheet">

  {{/*  Stylesheet  */}}
  <link rel="stylesheet" href="/css/main.css">

  {{/*  Google Analytics  */}}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.ga_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ .Site.Params.ga_id }}');
  </script>

  {{/*  JSON-LD Schema  */}}
  {{ partial "schema.html" . }}
